html {
  font-size: 67.0%;
  font-family: 'Myriad Pro', 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
}

body {
  font-size: 1.6rem;
  color: #000;
}

header {
  background-color: #fff;
  border-bottom: 0.3rem solid #444;
}

nav {
  text-align: right;
}

nav a {
  font-size: 1.8rem;
  font-weight: bold;
  color: #222;
  text-decoration: none;
  text-transform: uppercase;
}

.logo a {
  font-weight: bold;
  color: #222;
  text-decoration: none;
}

footer {
  margin-top: 0.8rem;
  padding: 1.2rem 0;
  border-top: 0.3rem solid #444;
  font-size: 1.2rem;
  color: #666;
}

b {
  color: #222;
}

strong {
  color: #cd0000;
}

h1 {
  font-size: 2.4rem;
  color: #222;
}

h2 {
  font-size: 1.8rem;
  color: #222;
}

h3 {
  font-size: 1.6rem;
  color: #222;
}

article .header {
  font-size: 1.4rem;
  font-style: italic;
  color: #555;
}

article .authors {
  font-size: 1.6rem;
}

article .venue {
  font-size: 1.6rem;
}

article .abstract p {
  font-size: 1.6rem;
}

.social {
  color: #111;
  font-size: 1.8rem;
  padding: 0rem 0.6rem 0rem 0.6rem;
}

@media (max-width: 319px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: block;
    line-height: 1.6;
  }
}

@media (min-width: 320px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: inline;
    margin: 0 0.6rem;
  }
}

@media (min-width: 640px) {
  body {
    width: 60rem;
    margin: 0 auto;
    padding: 0;
  }
  header {
    margin: 0 0 3rem;
    padding: 1.2rem 0;
  }
  nav {
    margin: 0;
    text-align: right;
  }
  nav a {
    margin: 0 0 0 1.2rem;
    display: inline;
  }
  footer {
    text-align: right;
  }
  .logo {
    margin: 0;
    text-align: left;
  }
  .logo a {
    float: left;
    font-size: 1.8rem;
  }
}
