/* CSS HEX */
:root {
  --color4: #ef476fff;
  --color3: #ffd166ff;
  --color2: #06d6a0ff;
  --color1: #118ab2ff;
  --color0: #073b4cff;
}

html {
  font-size: 67.0%;
  font-family: 'Myriad Pro', 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
}

body {
  font-size: 1.6rem;
  color: #000;
}

header {
  background-color: #fff;
  border-bottom: 0.3rem solid #444;
}

nav {
  text-align: right;
}

nav a {
  font-size: 1.8rem;
  font-weight: bold;
  color: #222;
  text-decoration: none;
  text-transform: uppercase;
}

.logo a {
  font-weight: bold;
  color: #222;
  text-decoration: none;
}

footer {
  margin-top: 0.8rem;
  padding: 1.2rem 0;
  border-top: 0.3rem solid #444;
  font-size: 1.2rem;
  color: #666;
}

a {
  color: var(--color1);
  text-decoration: none;
}

a:hover{
  color: color-mix(in hsl, var(--color1) 80%, var(--color4));
}

b {
  color: #222;
}

strong {
  color: var(--color4);
}

h1 {
  font-size: 2.4rem;
  color: #222;
}

h2 {
  font-size: 2rem;
  color: #222;
}

h3 {
  font-size: 1.8rem;
  color: #222;
}

ul {
  list-style-type: none;
  margin: 0rem;
  padding: 0rem;
}

li {
  padding: 1rem 0rem 1rem 0rem;
}

.tldr {
  padding: 0.6rem 0rem 0rem 0rem;
  font-size: 1.4rem;
  font-style: italic;
  color: #333;
}

article .header {
  font-size: 1.4rem;
  font-style: italic;
  color: #555;
}

article .publinks {
  font-size: 1.4rem;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  padding: 0.8rem 0rem 0rem 0rem;
}

article .abstract {
  font-size: 1.4rem;
  color: #333;
  text-align: justify;
  text-justify: inter-word;
}

.social {
  color: #111;
  font-size: 2.2rem;
  padding: 0rem 0.6rem 0rem 0.6rem;
}

.propic {
  float: left;
  width: 30%;
  margin: 0px 1rem 0px 0px;
  border-radius: 50%;
}

.spot {
  width: 85%;
  display: block;
  margin: 0rem auto;
}

.publink {
  padding: 0.3rem;
  border: 0.1rem solid var(--color1);
  border-radius: 13%;
}

.publink:hover {
  border: 0.1rem solid color-mix(in hsl, var(--color1) 80%, var(--color4));
}

@media (max-width: 319px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 1rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: block;
    line-height: 1.6;
  }
  .publink {
    margin-right: 2rem;
  }
}

@media (min-width: 320px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 1rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: inline;
    margin: 0 0.6rem;
  }
  .publink {
    margin-right: 2rem;
  }
}

@media (min-width: 640px) {
  body {
    width: 60rem;
    margin: 0 auto;
    padding: 0;
  }
  header {
    margin: 0 0 3rem;
    padding: 1.2rem 0;
  }
  nav {
    margin: 0;
    text-align: right;
  }
  nav a {
    margin: 0 0 0 1.2rem;
    display: inline;
  }
  footer {
    text-align: right;
  }
  .logo {
    margin: 0;
    text-align: left;
  }
  .logo a {
    float: left;
    font-size: 1.8rem;
  }
  .publink {
    margin-right: 3.2rem;
  }
}
