<article>
    <section class="header">Posted on $published$</section>

    <img class="spot" src="$spotlink$"/>

    <section>
        <h2>$title$</h2>
        <b>$fauthors$</b>$if(rauthors)$, $rauthors$$endif$.
        <br/>
        $venue$.$if(award)$ <strong>$award$</strong>.$endif$
    </section>

    <section class="publinks">
        $if(paperlink)$<a class="pubbutton" href="$paperlink$">Paper</a>$endif$
        $if(posterlink)$<a class="pubbutton" href="$posterlink$">Poster</a>$endif$
        $if(slideslink)$<a class="pubbutton" href="$slideslink$">Slides</a>$endif$
        $if(bibtexsource)$
            <button class="pubbutton" onclick="copyFileToClipboard('$bibtexsource$')">
                <i class="fa-regular fa-copy" id="ibibcopy"></i> BibTeX
            </button>
        $endif$
    </section>

    <section class="abstract">
        <h2 style="text-align: center;">Abstract</h2>
        $abstract$
    </section>

    <br/>
</article>
