<article>
    <section class="header">
        Posted on $date$
    </section>
    <br/>
    <section class="authors">
        <b>$fauthors$</b>$if(rauthors)$, $rauthors$$endif$.
    </section>
    <br/>
    <section class="venue">
        $venue$.$if(award)$ <strong>$award$</strong>.$endif$
    </section>
    <section class="abstract">
        <h2>Abstract</h2>
        <p style="text-align: justify; text-justify: inter-word;">$abstract$</p>
    </section>
    <section>
        $body$
    </section>
</article>
